/* Header.module.css */
.header {
  background-color: black;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: rgb(116, 106, 106);
  font-weight: 400;
  margin-right: 20px;
  font-size: 20px;
}

.nav a.active {
  color: red;
  font-weight: 700;
}
